@media (max-width: 1280px){
    
  
}
@media (max-width: 900px){
    
    .fix-width {
        width: 839px;
        
    }
    .About33 .contact {
        width: 19%;
        padding: 58px;
    }
    .img img {
        float: left;
        max-width: ;
        position: relative;
        left: -193px;
        width: 72%;
        height: 335px;
    }
    .Who-wye {
        width: 45%;
        float: left;
        margin-left: -145px;
        padding-bottom: 50px;
    }
    .Who-wye h1 {
        font-size: 31px;
    }
    .Who-wye p {
        font-size: 15px;
    }
}
@media (max-width: 836px){
    .menu ul li {
       
        padding: 6px;
    }
    .benar {
        
        padding: 117px 0;
    }
    .lfwf {
      
        
        padding-left: 25px;
        font-size: 15px;
        line-height: -26px;
        
    }
    .fix-width {
        width: 779px;
    }
    .About33 .contact {
        width: 18%;
        padding: 58px;
    }
    .sociyal-icon ul li a {
	
	color: #fbf4f4;
	margin-right: 100px;

    }
    .prodakt {
        width: 24%;
        float: left;
        padding-bottom: 44px;
        padding-left: 7px;
    }
    .benar-cepson h1 {
        color: bisque;
        font-size: 39px;
    }
    .benar-cepson a {
       
        font-size: 17px;
    }
    .menu ul li {
        display: inline-block;
        list-style: none;
        padding: 10px;
        margin-left: 12px;
        margin-right: 10px;
    }
    .sociyal-icon ul {
       
        margin-left: 109px;
    }
    .sociyal-icon ul li a {
       
        margin-right: 68px;
    }
    
}
@media (max-width: 760px){
    .menu ul {
        text-align: right;
        padding-right: 51px;
      }
      .prodakt {
        width: 22%;
        float: left;
        padding-bottom: 44px;
        padding-left: 11px;
    }
    .prodakt p {
        font-size: 14px;
        line-height: 21px;
    }
    .prodakt h1 {
        font-size: 15px;
        margin: 4px;
    }
    .menu ul li a {
        font-size: 16px;
        color: rgb(243, 241, 236);
        text-decoration: none;
    }
    .menu ul li {
        display: inline-block;
        list-style: none;
        padding: 4px;
        margin-left: -4px;
        margin-right: 15px;
    }
    .menu ul li a {
        font-size: 17px;
        color: rgb(21, 21, 20);
        text-decoration: none;
    }
    .lfwf h1 a {
        color: rgb(28, 26, 26);
        text-decoration: none;
    }
}
@media (max-width: 835px){
    .menu ul li a {
        font-size: 16px;
        color: rgb(12, 12, 11);
       
    }
    .menu ul li {
       
        padding: 10px;
        margin-left: -8px;
        margin-right: 8px;
    }
    .lfwf h1 a {
        color: rgb(17, 16, 16);
        
    }
}

@media (max-width: 835px){
    .menu ul li {
        padding: 10px;
        margin-left: -12px;
        margin-right: 5px;
    }
    .menu ul {
       
        padding-right: 82px;
    }
    .benar-cepson p {
        font-size: 12px;
        color: blanchedalmond;
        padding-bottom: 39px;
        margin-top: 20px;
    }
    .prodakt p {
        font-size: 12px;
        line-height: 21px;
    }
    .prodakt h1 {
        font-size: 12px;
        margin: 4px;
    }
    .prodakt i {
        font-size: 29px;
        color: #1abef0;
    }
    .prodakt {
        width: 20%;
        float: left;
        padding-bottom: 44px;
        padding-left: 17px;
    }
    .Who-wye p {
        font-size: 14px;
    }
    .Who-wye {
        width: 37%;
        float: left;
        margin-left: -145px;
        padding-bottom: 50px;
    }
    .Who-wye h1 {
        font-size: 22px;
    }
    .About22 h1 {
        padding-top: 40px;
        font-size: 29px;
    }
    .About33 .contact {
        width: 19%;
        padding: 48px;
    }
    .lfwf {
        padding-left: 33px;
        font-size: 9px;
        line-height: -26px;
    }
    .lfwf {
        width: 17%;
        float: left;
        color: #f7f4f1;
        padding-left: 67px;
        font-size: 16px;
        line-height: -26px;
        text-decoration: none;
    }
    .menu ul li {
        padding: 2px;
        margin-left: -2px;
        margin-right: 11px;
    }
}
    
@media (max-width: 1000px){
    .fix-width {
        max-width: 100%;
        margin: auto;
        padding-left: 10px;
        padding-right: 10px;
        box-sizing: border-box;
    }
    .lfwf {
       
        padding-left: 20px;
       
    }
}
/* @media (max-width: 836px){
    .menu ul li {
        display: inline-block;
        list-style: none;
        padding: 4px;
        margin-left: -6px;
        margin-right: 6px;
    }
} */

@media (max-width: 835px){
    .lfwf {
        color: #f7f4f1;
        font-size: 8px;
        line-height: -26px;
    }
}
@media (max-width: 644px){
    .lfwf {
       
        font-size: 7px;
       
    }
}
@media (max-width: 600px){
    .menu ul {
        padding-right: 0;
    }
    .lfwf {
        font-size: 6px;
      }
      .menu ul li a {
        font-size: 13px;
        color: rgb(12, 12, 11);
    }
}
@media (max-width: 490px){
    .lfwf {
        font-size: 6px;
        width: 25%;
        line-height: 22px;
      }
}
@media (max-width: 431px){
    .menu ul li {
        padding: 4px;
        margin-left: -2px;
        margin-right: -1px;
        padding-right: 8px;
    }
}

@media (max-width: 400px){
    .menu ul li {
        padding: 4px;
        margin-left: -11px;
        margin-right: -1px;
        padding-right: 8px;
    }
}

@media (max-width: 416px){
    .benar-cepson h1 {
        color: #fafaf9;
        font-size: 23px;
    }
    .benar-cepson p {
        font-size: 10px;
        color: blanchedalmond;
        padding-bottom: 30px;
        margin-top: 13px;
    }
}
@media (max-width: 388px){
    .prodakt {
        width: 45%;
      
    }
    .prodakt i {
        font-size: 29px;
        color: #1abef0;
    }
    .prodakt h1 {
        font-size: 15px;
        margin: 4px;
    }
    .prodakt p {
        font-size: 13px;
        line-height: 15px;
    }
}